<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @list.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<div class="row">
  <div class="large-12 columns">
    <p>tasks</p>
    <% @list.tasks.each do |task| %>
      <p><%= task.goals %></p>
    <% end %>
  </div>
</div>

<%= link_to 'Edit list', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'add more tasks', tasks_path %>
