<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @task.list_id %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @task.goals %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
